.form:not(:placeholder-shown) {
  outline: 2px solid #f87171;
  outline-offset: 2px;
  background-image: url("/icons/incorrect.svg");
  background-size: 15px;
  background-position: 99% 10%;
  background-repeat: no-repeat;
}

.form:not(:focus)[type="date"]{
  outline: 2px solid transparent;
  background-image: none;
}
.form:not(:focus)[type="file"]{
  outline: 2px solid transparent;
  background-image: none;
}

.form:required:valid {
  background-image: url("/icons/correct.svg");
  outline: 2px solid #79b5f3;
  background-size: 15px;
  background-position: 99% 10%;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  .form[type="date"]::-webkit-calendar-picker-indicator { 
    filter: invert(1);
  }
}