@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bluetea';
  src: url(../fonts/Bluetea.ttf);
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('../fonts/Quicksand.ttf');
}

@font-face {
  font-family: 'Caveat';
  font-weight: 600;
  src: url('../fonts/Caveat.ttf');
}

@layer components {
  .button-web {
    @apply font-quicksand font-bold w-fit px-4 sm:px-10 py-2 text-lg sm:text-2xl bg-web-boton hover:bg-web-boton2 hover:text-white rounded-2xl sm:rounded-full mb-10 shadow-lg duration-500 ease-in-out hover:resize hover:ring-2 ring-offset-4 hover:scale-105 ring-web-boton;
  }
  .navVisible {
    @apply fixed duration-300;
  }
  .navNotVisible {
    @apply fixed translate-y-[-100%] duration-300;
  }
}

.text-shadow-2 {
  text-shadow: -2px 2px 0 #000,
  2px 2px 0 #000,
 2px -2px 0 #000,
-2px -2px 0 #000;
}

.text-shadow-2-dark {
  text-shadow: -2px 2px 0 #fff,
  2px 2px 0 #fff,
 2px -2px 0 #fff,
-2px -2px 0 #fff;
}

.text-shadow-1 {
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
}

.social:hover {
  filter: invert(48%) sepia(35%) saturate(923%) hue-rotate(183deg) brightness(77%) contrast(102%);
}

nav > ul >li {
  list-style: none;
  display: inline;
}