@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bluetea';
  src: url(../fonts/Bluetea.ttf);
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('../fonts/Quicksand.ttf');
}

@font-face {
  font-family: 'Caveat';
  font-weight: 600;
  src: url('../fonts/Caveat.ttf');
}

.text-shadow-2 {
  text-shadow: -2px 2px 0 #000,
  2px 2px 0 #000,
 2px -2px 0 #000,
-2px -2px 0 #000;
}

.text-shadow-2-dark {
  text-shadow: -2px 2px 0 #fff,
  2px 2px 0 #fff,
 2px -2px 0 #fff,
-2px -2px 0 #fff;
}

.text-shadow-1 {
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
}

.social:hover {
  filter: invert(48%) sepia(35%) saturate(923%) hue-rotate(183deg) brightness(77%) contrast(102%);
}

nav > ul >li {
  list-style: none;
  display: inline;
}

@media (prefers-color-scheme: dark) {
  input[type="date"]::-webkit-calendar-picker-indicator { 
    filter: invert(1);
  }

  .svg, .social {
    filter: invert(1);
  }
}

input:required:invalid {
  outline: 2px solid #f87171;
  outline-offset: 2px;
  background-image: url("/icons/incorrect.svg");
  background-size: 15px;
  background-position: 99% 10%;
  background-repeat: no-repeat;
}

input:placeholder-shown {
  outline: 2px solid transparent!important;
  background-image: none!important;
  
}

input:required:valid {
  background-image: url("/icons/correct.svg");
  outline: 2px solid #79b5f3;
  background-size: 15px;
  background-position: 99% 10%;
  background-repeat: no-repeat;
}

input[type="date"] input[value=""]{
  outline: 2px solid transparent!important;
  background-image: none!important;
}
