body {
    font-family: sans-serif;
    background-color: #d1e0e0;
}

.container h1 {
    font-size: 3em;
    margin: 0;
}

.container p {
    font-size: 1.5em;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em 2em;
    color: white;
    background-color: #1d6996;
    cursor: pointer;
}

.btn:hover {
    background-color: #1b4f72;
}

.btn:active {
    transform: translateY(2px);
}