@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.highlight abbr {
  color: white!important;
  background: #3b82f6!important;
  border-radius: 100%;
}
abbr {
  width: 20px!important;
  padding: 5px;
}
button:hover {
  background: #60a5fa!important;
}